@import "reset";
@import "mixins";
@import "global";

.app-wrapper {
  display: grid;
  grid-template-areas: "header header" "nav content";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
}

@import "media";
