@import "../../styles/mixins";

.nav {
  background-color: #a3ff9c;
  padding: ac(35px, 15px) ac(15px, 10px);
  max-width: 150px;
  width: 100%;
}

.item {
  margin-bottom: 7px;

  &:last-child {
    margin-top: 35px;
  }

  a {
    color: #fff;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #7c7c7c;
    }
  }
  a.active {
    color: #7c7c7c;
  }
}
