.content {
  grid-area: content;
  background-color: #fddb91;
  height: calc(100vh - 65px);

  &__bg {
    position: relative;
    min-height: 230px;
    overflow: hidden;

    img {
      position: absolute;
    }
  }
}
.info {
  &__img {
    max-width: 100px;
    border-radius: 50%;
  }
}
